<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Elijah, are u ok?</title>

</head>

<body>
    <div class="body">
        <h1 class="line typing-animation">ELIJAH, ARE YOU OK?</h1>
        <img class="fadeIn" src="/public/css/silhueta.png" alt="">
        <div class="fadeIn" id="bot" onclick="window.location.href='/epilog'">
            <a class="botão" href="/epilog">JOGAR</a>
        </div>
        <!--fim div fadeIn-->

    </div>
    <!--fim div body-->
</body>

</html>